.profile_container {
  width: 380px;
  margin: auto;
  border: 3px solid #242121;
  border-radius: 20px;
  box-shadow: inset 0 -9em 3em rgb(195, 225, 25), 0 0 0 2px rgb(195, 225, 25),
    0.3em 0.3em 1em rgb(195, 225, 25);
}

.profile_avatar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.profile_img {
  width: 250px;
  border-radius: 50%;
  background-color: #2d2d2e;
}

.profile_name {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile_tag {
  color: #363535;
  margin-bottom: 10px;
}

.profile_location {
  color: #363535;
  margin-bottom: 10px;
}

.profile_list {
  display: flex;
  border-top: 3px solid #100f0f;
  background-color: #0ea2dd;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.profile_list_item {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 3px solid #100f0f;
}

.profile_list_item:last-child {
  border-right: none;
}

.profile_list_span {
  font-weight: bold;
}
